In [27]:
# dependencies
import pandas as pd
import scipy.stats as stats
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [28]:
# read in the aggregated data
aggregate_df = pd.read_csv('AGGREGATE.csv')

In [29]:
# create aggregate DataFrame
aggregate_df = pd.DataFrame(aggregate_df)

In [30]:
# create year column header to the aggregate DataFrame
aggregate_df['Year'] = pd.DatetimeIndex(aggregate_df['Date']).year

In [31]:
# remove the decimal from the year column
aggregate_df['Year'] = aggregate_df['Year'].fillna(0).astype(int)

In [32]:
# remove the colums that are not needed
aggregate_df = aggregate_df.drop(['Composite_HPI_SA','Single_Family_HPI_SA','One_Storey_HPI_SA','Two_Storey_HPI_SA','Townhouse_HPI_SA','Apartment_HPI_SA'], axis=1)

In [33]:
# remove the NaN values
aggregate_df = aggregate_df.dropna()

In [45]:
# create a growth rate headers
aggregate_df['composite_growth_rate'] = aggregate_df['Composite_Benchmark_SA'] / aggregate_df['Composite_Benchmark_SA'].shift(1) - 1
aggregate_df['single_family_growth_rate'] = aggregate_df['Single_Family_Benchmark_SA'] / aggregate_df['Single_Family_Benchmark_SA'].shift(1) - 1
aggregate_df['one_storey_growth_rate'] = aggregate_df['One_Storey_Benchmark_SA'] / aggregate_df['One_Storey_Benchmark_SA'].shift(1) - 1
aggregate_df['two_storey_growth_rate'] = aggregate_df['Two_Storey_Benchmark_SA'] / aggregate_df['Two_Storey_Benchmark_SA'].shift(1) - 1
aggregate_df['townhouse_growth_rate'] = aggregate_df['Townhouse_Benchmark_SA'] / aggregate_df['Townhouse_Benchmark_SA'].shift(1) - 1
aggregate_df['apartment_growth_rate'] = aggregate_df['Apartment_Benchmark_SA'] / aggregate_df['Apartment_Benchmark_SA'].shift(1) - 1

In [46]:
aggregate_df.head(10)

,Date,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA,Year,single_family_growth_rate,composite_growth_rate,one_storey_growth_rate,two_storey_growth_rate,townhouse_growth_rate,apartment_growth_rate
0,Jan 2005,241000.0,261300.0,208700.0,303900.0,202500.0,174500.0,2005,NaN,NaN,NaN,NaN,NaN,NaN
1,Feb 2005,241800.0,261900.0,209400.0,304300.0,203100.0,175600.0,2005,0.002296,0.003320,0.003354,0.001316,0.002963,0.006304
2,Mar 2005,242600.0,262800.0,210100.0,305300.0,203700.0,176400.0,2005,0.003436,0.003309,0.003343,0.003286,0.002954,0.004556
3,Apr 2005,243300.0,263500.0,211100.0,305800.0,204200.0,177200.0,2005,0.002664,0.002885,0.004760,0.001638,0.002455,0.004535
4,May 2005,243800.0,264000.0,211500.0,306400.0,204600.0,178100.0,2005,0.001898,0.002055,0.001895,0.001962,0.001959,0.005079
5,Jun 2005,245300.0,265500.0,212300.0,308300.0,205400.0,179400.0,2005,0.005682,0.006153,0.003783,0.006201,0.003910,0.007299
6,Jul 2005,247400.0,267900.0,214500.0,310700.0,207400.0,180700.0,2005,0.009040,0.008561,0.010363,0.007785,0.009737,0.007246
7,Aug 2005,249700.0,270500.0,216900.0,313400.0,209300.0,181700.0,2005,0.009705,0.009297,0.011189,0.008690,0.009161,0.005534
8,Sep 2005,252200.0,273000.0,219300.0,315900.0,211900.0,185700.0,2005,0.009242,0.010012,0.011065,0.007977,0.012422,0.022014
9,Oct 2005,255100.0,276200.0,222000.0,319500.0,214000.0,186800.0,2005,0.011722,0.011499,0.012312,0.011396,0.009910,0.005924