In [34]:
#Import Dependancies
import pandas as pd
from pathlib import Path

In [35]:
#Importing CSV files and reading the files
interest_rate_csv = Path("Resources/chartered_bank_interest.csv")

In [36]:
interest_rate_df = pd.read_csv(interest_rate_csv)

In [37]:
interest_rate_df

,date,V80691311,V80691333,V80691334,V80691335,V80691339,V80691340,V80691341,V80691336,V80691337,V80691338
0,1967-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
1,1967-04-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
2,1967-04-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
3,1967-04-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
4,1967-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
...,...,...,...,...,...,...,...,...,...,...,...
2962,2024-01-10,7.2,7.84,7.14,7.04,4.65,4.00,3.90,3.17,0.01,0.01
2963,2024-01-17,7.2,7.84,7.05,6.89,4.65,3.92,4.15,3.17,0.01,0.01
2964,2024-01-24,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
2965,2024-01-31,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
2966,2024-02-07,7.2,7.84,6.99,6.79,4.60,3.92,3.95,3.45,0.01,0.01

In [38]:
#Remove NAN values
interest_rate_df = interest_rate_df.dropna()
interest_rate_df

,date,V80691311,V80691333,V80691334,V80691335,V80691339,V80691340,V80691341,V80691336,V80691337,V80691338
1154,1989-05-17,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.75,8.25
1155,1989-05-24,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.53,8.25
1156,1989-05-31,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.70,8.25
1157,1989-06-07,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.78,8.25
1158,1989-06-14,13.5,12.75,12.25,12.00,10.75,10.25,10.00,10.25,11.70,8.25
...,...,...,...,...,...,...,...,...,...,...,...
2962,2024-01-10,7.2,7.84,7.14,7.04,4.65,4.00,3.90,3.17,0.01,0.01
2963,2024-01-17,7.2,7.84,7.05,6.89,4.65,3.92,4.15,3.17,0.01,0.01
2964,2024-01-24,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
2965,2024-01-31,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
2966,2024-02-07,7.2,7.84,6.99,6.79,4.60,3.92,3.95,3.45,0.01,0.01

In [39]:
interest_rate_df = interest_rate_df.reset_index(drop=True)

In [40]:
#Rename Column Names
rename_interest_df = interest_rate_df.rename(columns={"date":"Date", "V80691311":"Prime rate", "V80691333":"1 Year Conventional", "V80691334":"3 Year Conventional", "V80691335":"5 Year Conventional", 
                                             "V80691339":"1 Year Guaranteed", "V80691340":"3 Year Guaranteed", "V80691341":"5 Year Guaranteed",
                                             "V80691336":"5 Year Fixed", "V80691337":"Daily Interest Savings", "V80691338":"Non-Chequable Savings"})
rename_interest_df

,Date,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings
0,1989-05-17,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.75,8.25
1,1989-05-24,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.53,8.25
2,1989-05-31,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.70,8.25
3,1989-06-07,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.78,8.25
4,1989-06-14,13.5,12.75,12.25,12.00,10.75,10.25,10.00,10.25,11.70,8.25
...,...,...,...,...,...,...,...,...,...,...,...
1808,2024-01-10,7.2,7.84,7.14,7.04,4.65,4.00,3.90,3.17,0.01,0.01
1809,2024-01-17,7.2,7.84,7.05,6.89,4.65,3.92,4.15,3.17,0.01,0.01
1810,2024-01-24,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
1811,2024-01-31,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
1812,2024-02-07,7.2,7.84,6.99,6.79,4.60,3.92,3.95,3.45,0.01,0.01

In [41]:
#Format Date to match the rest of the CSV Files

rename_interest_df[["Year", "Month", "Day"]] = rename_interest_df["Date"].str.split("-", expand = True)
rename_interest_df

,Date,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings,Year,Month,Day
0,1989-05-17,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.75,8.25,1989,05,17
1,1989-05-24,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.53,8.25,1989,05,24
2,1989-05-31,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.70,8.25,1989,05,31
3,1989-06-07,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.78,8.25,1989,06,07
4,1989-06-14,13.5,12.75,12.25,12.00,10.75,10.25,10.00,10.25,11.70,8.25,1989,06,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1808,2024-01-10,7.2,7.84,7.14,7.04,4.65,4.00,3.90,3.17,0.01,0.01,2024,01,10
1809,2024-01-17,7.2,7.84,7.05,6.89,4.65,3.92,4.15,3.17,0.01,0.01,2024,01,17
1810,2024-01-24,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01,2024,01,24
1811,2024-01-31,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01,2024,01,31
1812,2024-02-07,7.2,7.84,6.99,6.79,4.60,3.92,3.95,3.45,0.01,0.01,2024,02,07

In [42]:
rename_interest_df["Year"] = rename_interest_df["Year"].astype(int)

In [43]:
#Sort by certain years to match the years in other CSV Files (2005-2023)
fil_int_df = rename_interest_df.loc[(rename_interest_df["Year"] >= 2005) & (rename_interest_df["Year"]<=2023)] 
fil_int_df

,Date,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings,Year,Month,Day
816,2005-01-05,4.25,4.80,5.60,6.05,1.43,2.18,2.78,2.53,0.75,0.05,2005,01,05
817,2005-01-12,4.25,4.80,5.60,6.05,1.43,2.18,2.98,2.53,0.75,0.05,2005,01,12
818,2005-01-19,4.25,4.80,5.60,6.05,1.43,2.18,2.98,2.73,0.75,0.05,2005,01,19
819,2005-01-26,4.25,4.80,5.60,6.05,1.43,2.18,2.88,2.63,0.75,0.05,2005,01,26
820,2005-02-02,4.25,4.80,5.60,6.05,1.43,2.18,2.88,2.63,0.75,0.05,2005,02,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1802,2023-11-29,7.20,8.09,7.24,7.04,4.90,4.02,4.90,3.40,0.01,0.01,2023,11,29
1803,2023-12-06,7.20,8.09,7.24,7.04,4.90,4.02,4.27,3.17,0.01,0.01,2023,12,06
1804,2023-12-13,7.20,8.09,7.24,7.04,4.90,4.65,4.65,3.17,0.01,0.01,2023,12,13
1805,2023-12-20,7.20,7.89,7.24,7.04,4.65,4.00,4.30,3.17,0.01,0.01,2023,12,20
1806,2023-12-27,7.20,7.89,7.14,7.04,4.65,4.00,3.90,3.17,0.01,0.01,2023,12,27

In [44]:
real_estate_int_df= fil_int_df.groupby(["Year"])
real_estate_int_year_df= pd.DataFrame(real_estate_int_df[["Prime rate", "1 Year Conventional", "3 Year Conventional",
                    "5 Year Conventional", "1 Year Guaranteed", "3 Year Guaranteed",
                    "5 Year Guaranteed", "5 Year Fixed", "Daily Interest Savings",
                    "Non-Chequable Savings"]].median())

real_estate_int_year_df

,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings
Year,,,,,,,,,,
2005,4.25,4.900,5.600,6.050,1.430,2.18,2.780,2.530,0.750,0.05
2006,6.00,6.325,6.450,6.600,2.880,3.03,3.130,2.880,0.625,0.05
2007,6.00,7.050,7.300,7.190,2.980,3.13,3.305,3.115,0.500,0.10
2008,4.75,6.950,7.000,7.150,2.130,2.73,3.080,2.950,0.250,0.10
2009,2.25,3.800,4.450,5.790,0.280,1.48,1.980,1.730,0.250,0.05
2010,2.50,3.550,4.150,5.415,0.630,1.43,1.980,1.850,0.200,0.05
2011,3.00,3.500,4.350,5.390,1.000,1.43,1.980,1.850,0.150,0.05
2012,3.00,3.200,3.950,5.240,0.965,1.13,1.630,1.450,0.150,0.05
2013,3.00,3.140,3.725,5.240,0.780,1.13,1.630,1.450,0.150,0.05
2014,3.00,3.140,3.750,4.790,1.300,1.13,2.000,1.450,0.150,0.05
2015,2.85,2.890,3.390,4.640,0.850,1.03,1.500,1.250,0.150,0.01
2016,2.70,3.140,3.390,4.640,0.850,1.15,1.380,1.150,0.050,0.05
2017,2.70,3.140,3.390,4.640,0.730,1.15,1.450,1.050,0.050,0.05
2018,3.45,3.490,4.290,5.340,0.730,1.35,1.600,1.150,0.050,0.05
2019,3.95,3.640,4.290,5.340,1.350,1.80,2.000,1.450,0.050,0.05
2020,2.45,3.190,3.890,4.940,0.550,0.85,1.130,0.880,0.010,0.01
2021,2.45,2.790,3.490,4.790,0.250,0.60,1.000,0.700,0.010,0.01
2022,3.70,4.740,5.390,6.040,1.975,2.75,2.950,2.450,0.010,0.01
2023,6.95,7.140,6.540,6.490,3.250,3.55,3.750,3.170,0.010,0.01

In [45]:
#Formatting relevant Cells to Percent 
real_estate_int_year_df[["Prime rate", "1 Year Conventional", "3 Year Conventional",
                    "5 Year Conventional", "1 Year Guaranteed", "3 Year Guaranteed",
                    "5 Year Guaranteed", "5 Year Fixed", "Daily Interest Savings",
                    "Non-Chequable Savings"]] = real_estate_int_year_df[["Prime rate", "1 Year Conventional", "3 Year Conventional",
                                                                    "5 Year Conventional", "1 Year Guaranteed", "3 Year Guaranteed",
                                                                    "5 Year Guaranteed", "5 Year Fixed", "Daily Interest Savings",
                                                                    "Non-Chequable Savings"]].astype(float).map("{:.2f}%".format)

In [46]:
real_estate_int_year_df

,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings
Year,,,,,,,,,,
2005,4.25%,4.90%,5.60%,6.05%,1.43%,2.18%,2.78%,2.53%,0.75%,0.05%
2006,6.00%,6.32%,6.45%,6.60%,2.88%,3.03%,3.13%,2.88%,0.62%,0.05%
2007,6.00%,7.05%,7.30%,7.19%,2.98%,3.13%,3.30%,3.12%,0.50%,0.10%
2008,4.75%,6.95%,7.00%,7.15%,2.13%,2.73%,3.08%,2.95%,0.25%,0.10%
2009,2.25%,3.80%,4.45%,5.79%,0.28%,1.48%,1.98%,1.73%,0.25%,0.05%
2010,2.50%,3.55%,4.15%,5.42%,0.63%,1.43%,1.98%,1.85%,0.20%,0.05%
2011,3.00%,3.50%,4.35%,5.39%,1.00%,1.43%,1.98%,1.85%,0.15%,0.05%
2012,3.00%,3.20%,3.95%,5.24%,0.96%,1.13%,1.63%,1.45%,0.15%,0.05%
2013,3.00%,3.14%,3.73%,5.24%,0.78%,1.13%,1.63%,1.45%,0.15%,0.05%
2014,3.00%,3.14%,3.75%,4.79%,1.30%,1.13%,2.00%,1.45%,0.15%,0.05%
2015,2.85%,2.89%,3.39%,4.64%,0.85%,1.03%,1.50%,1.25%,0.15%,0.01%
2016,2.70%,3.14%,3.39%,4.64%,0.85%,1.15%,1.38%,1.15%,0.05%,0.05%
2017,2.70%,3.14%,3.39%,4.64%,0.73%,1.15%,1.45%,1.05%,0.05%,0.05%
2018,3.45%,3.49%,4.29%,5.34%,0.73%,1.35%,1.60%,1.15%,0.05%,0.05%
2019,3.95%,3.64%,4.29%,5.34%,1.35%,1.80%,2.00%,1.45%,0.05%,0.05%
2020,2.45%,3.19%,3.89%,4.94%,0.55%,0.85%,1.13%,0.88%,0.01%,0.01%
2021,2.45%,2.79%,3.49%,4.79%,0.25%,0.60%,1.00%,0.70%,0.01%,0.01%
2022,3.70%,4.74%,5.39%,6.04%,1.98%,2.75%,2.95%,2.45%,0.01%,0.01%
2023,6.95%,7.14%,6.54%,6.49%,3.25%,3.55%,3.75%,3.17%,0.01%,0.01%