In [84]:
#Import Dependancies
import pandas as pd
from pathlib import Path

In [85]:
#Importing CSV files and reading the files
interest_rate_csv = Path("Resources/chartered_bank_interest.csv")

In [86]:
interest_rate_df = pd.read_csv(interest_rate_csv)

In [87]:
interest_rate_df

,date,V80691311,V80691333,V80691334,V80691335,V80691339,V80691340,V80691341,V80691336,V80691337,V80691338
0,1967-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
1,1967-04-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
2,1967-04-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
3,1967-04-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
4,1967-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
...,...,...,...,...,...,...,...,...,...,...,...
2962,2024-01-10,7.2,7.84,7.14,7.04,4.65,4.00,3.90,3.17,0.01,0.01
2963,2024-01-17,7.2,7.84,7.05,6.89,4.65,3.92,4.15,3.17,0.01,0.01
2964,2024-01-24,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
2965,2024-01-31,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
2966,2024-02-07,7.2,7.84,6.99,6.79,4.60,3.92,3.95,3.45,0.01,0.01

In [88]:
#Remove NAN values
interest_rate_df = interest_rate_df.dropna()
interest_rate_df

,date,V80691311,V80691333,V80691334,V80691335,V80691339,V80691340,V80691341,V80691336,V80691337,V80691338
1154,1989-05-17,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.75,8.25
1155,1989-05-24,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.53,8.25
1156,1989-05-31,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.70,8.25
1157,1989-06-07,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.78,8.25
1158,1989-06-14,13.5,12.75,12.25,12.00,10.75,10.25,10.00,10.25,11.70,8.25
...,...,...,...,...,...,...,...,...,...,...,...
2962,2024-01-10,7.2,7.84,7.14,7.04,4.65,4.00,3.90,3.17,0.01,0.01
2963,2024-01-17,7.2,7.84,7.05,6.89,4.65,3.92,4.15,3.17,0.01,0.01
2964,2024-01-24,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
2965,2024-01-31,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
2966,2024-02-07,7.2,7.84,6.99,6.79,4.60,3.92,3.95,3.45,0.01,0.01

In [89]:
interest_rate_df = interest_rate_df.reset_index(drop=True)

In [90]:
#Rename Column Names
rename_interest_df = interest_rate_df.rename(columns={"date":"Date", "V80691311":"Prime rate", "V80691333":"1 Year Conventional", "V80691334":"3 Year Conventional", "V80691335":"5 Year Conventional", 
                                             "V80691339":"1 Year Guaranteed", "V80691340":"3 Year Guaranteed", "V80691341":"5 Year Guaranteed",
                                             "V80691336":"5 Year Fixed", "V80691337":"Daily Interest Savings", "V80691338":"Non-Chequable Savings"})
rename_interest_df

,Date,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings
0,1989-05-17,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.75,8.25
1,1989-05-24,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.53,8.25
2,1989-05-31,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.70,8.25
3,1989-06-07,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.78,8.25
4,1989-06-14,13.5,12.75,12.25,12.00,10.75,10.25,10.00,10.25,11.70,8.25
...,...,...,...,...,...,...,...,...,...,...,...
1808,2024-01-10,7.2,7.84,7.14,7.04,4.65,4.00,3.90,3.17,0.01,0.01
1809,2024-01-17,7.2,7.84,7.05,6.89,4.65,3.92,4.15,3.17,0.01,0.01
1810,2024-01-24,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
1811,2024-01-31,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
1812,2024-02-07,7.2,7.84,6.99,6.79,4.60,3.92,3.95,3.45,0.01,0.01

In [91]:
rename_interest_df.columns
rename_interest_df.dtypes

Date                       object
Prime rate                float64
1 Year Conventional       float64
3 Year Conventional       float64
5 Year Conventional       float64
1 Year Guaranteed         float64
3 Year Guaranteed         float64
5 Year Guaranteed         float64
5 Year Fixed              float64
Daily Interest Savings    float64
Non-Chequable Savings     float64
dtype: object

In [92]:
#Formatting relevant Cells to Percent 
rename_interest_df[["Prime rate", "1 Year Conventional", "3 Year Conventional",
                    "5 Year Conventional", "1 Year Guaranteed", "3 Year Guaranteed",
                    "5 Year Guaranteed", "5 Year Fixed", "Daily Interest Savings",
                    "Non-Chequable Savings"]] = rename_interest_df[["Prime rate", "1 Year Conventional", "3 Year Conventional",
                                                                    "5 Year Conventional", "1 Year Guaranteed", "3 Year Guaranteed",
                                                                    "5 Year Guaranteed", "5 Year Fixed", "Daily Interest Savings",
                                                                    "Non-Chequable Savings"]].astype(float).map("{:.2f}%".format)

In [93]:
rename_interest_df

,Date,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings
0,1989-05-17,13.50%,13.00%,12.50%,12.00%,11.00%,10.50%,10.25%,10.25%,11.75%,8.25%
1,1989-05-24,13.50%,13.00%,12.50%,12.00%,11.00%,10.50%,10.25%,10.25%,11.53%,8.25%
2,1989-05-31,13.50%,13.00%,12.25%,12.00%,11.00%,10.50%,10.25%,10.25%,11.70%,8.25%
3,1989-06-07,13.50%,13.00%,12.25%,12.00%,11.00%,10.50%,10.25%,10.25%,11.78%,8.25%
4,1989-06-14,13.50%,12.75%,12.25%,12.00%,10.75%,10.25%,10.00%,10.25%,11.70%,8.25%
...,...,...,...,...,...,...,...,...,...,...,...
1808,2024-01-10,7.20%,7.84%,7.14%,7.04%,4.65%,4.00%,3.90%,3.17%,0.01%,0.01%
1809,2024-01-17,7.20%,7.84%,7.05%,6.89%,4.65%,3.92%,4.15%,3.17%,0.01%,0.01%
1810,2024-01-24,7.20%,7.84%,7.04%,6.89%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%
1811,2024-01-31,7.20%,7.84%,7.04%,6.89%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%
1812,2024-02-07,7.20%,7.84%,6.99%,6.79%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%

In [94]:
rename_interest_df.dtypes

Date                      object
Prime rate                object
1 Year Conventional       object
3 Year Conventional       object
5 Year Conventional       object
1 Year Guaranteed         object
3 Year Guaranteed         object
5 Year Guaranteed         object
5 Year Fixed              object
Daily Interest Savings    object
Non-Chequable Savings     object
dtype: object

In [95]:
#Format Date to match the rest of the CSV Files

rename_interest_df[["Year", "Month", "Day"]] = rename_interest_df["Date"].str.split("-", expand = True)
rename_interest_df

,Date,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings,Year,Month,Day
0,1989-05-17,13.50%,13.00%,12.50%,12.00%,11.00%,10.50%,10.25%,10.25%,11.75%,8.25%,1989,05,17
1,1989-05-24,13.50%,13.00%,12.50%,12.00%,11.00%,10.50%,10.25%,10.25%,11.53%,8.25%,1989,05,24
2,1989-05-31,13.50%,13.00%,12.25%,12.00%,11.00%,10.50%,10.25%,10.25%,11.70%,8.25%,1989,05,31
3,1989-06-07,13.50%,13.00%,12.25%,12.00%,11.00%,10.50%,10.25%,10.25%,11.78%,8.25%,1989,06,07
4,1989-06-14,13.50%,12.75%,12.25%,12.00%,10.75%,10.25%,10.00%,10.25%,11.70%,8.25%,1989,06,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1808,2024-01-10,7.20%,7.84%,7.14%,7.04%,4.65%,4.00%,3.90%,3.17%,0.01%,0.01%,2024,01,10
1809,2024-01-17,7.20%,7.84%,7.05%,6.89%,4.65%,3.92%,4.15%,3.17%,0.01%,0.01%,2024,01,17
1810,2024-01-24,7.20%,7.84%,7.04%,6.89%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%,2024,01,24
1811,2024-01-31,7.20%,7.84%,7.04%,6.89%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%,2024,01,31
1812,2024-02-07,7.20%,7.84%,6.99%,6.79%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%,2024,02,07

In [96]:
rename_interest_df.columns

Index(['Date', 'Prime rate', '1 Year Conventional', '3 Year Conventional',
       '5 Year Conventional', '1 Year Guaranteed', '3 Year Guaranteed',
       '5 Year Guaranteed', '5 Year Fixed', 'Daily Interest Savings',
       'Non-Chequable Savings', 'Year', 'Month', 'Day'],
      dtype='object')

In [97]:
rename_interest_df["Year"] = rename_interest_df["Year"].astype(int)

In [98]:
rename_interest_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1813 entries, 0 to 1812
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1813 non-null   object
 1   Prime rate              1813 non-null   object
 2   1 Year Conventional     1813 non-null   object
 3   3 Year Conventional     1813 non-null   object
 4   5 Year Conventional     1813 non-null   object
 5   1 Year Guaranteed       1813 non-null   object
 6   3 Year Guaranteed       1813 non-null   object
 7   5 Year Guaranteed       1813 non-null   object
 8   5 Year Fixed            1813 non-null   object
 9   Daily Interest Savings  1813 non-null   object
 10  Non-Chequable Savings   1813 non-null   object
 11  Year                    1813 non-null   int64
 12  Month                   1813 non-null   object
 13  Day                     1813 non-null   object
dtypes: int64(1), object(13)
memory usage: 198.4+ KB

In [99]:
#Sort by certain years to match the years in other CSV Files (2005-2023)
fil_int_df = rename_interest_df.loc[(rename_interest_df["Year"] >= 2005) & (rename_interest_df["Year"]<=2023)] 
fil_int_df

,Date,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings,Year,Month,Day
816,2005-01-05,4.25%,4.80%,5.60%,6.05%,1.43%,2.18%,2.78%,2.53%,0.75%,0.05%,2005,01,05
817,2005-01-12,4.25%,4.80%,5.60%,6.05%,1.43%,2.18%,2.98%,2.53%,0.75%,0.05%,2005,01,12
818,2005-01-19,4.25%,4.80%,5.60%,6.05%,1.43%,2.18%,2.98%,2.73%,0.75%,0.05%,2005,01,19
819,2005-01-26,4.25%,4.80%,5.60%,6.05%,1.43%,2.18%,2.88%,2.63%,0.75%,0.05%,2005,01,26
820,2005-02-02,4.25%,4.80%,5.60%,6.05%,1.43%,2.18%,2.88%,2.63%,0.75%,0.05%,2005,02,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1802,2023-11-29,7.20%,8.09%,7.24%,7.04%,4.90%,4.02%,4.90%,3.40%,0.01%,0.01%,2023,11,29
1803,2023-12-06,7.20%,8.09%,7.24%,7.04%,4.90%,4.02%,4.27%,3.17%,0.01%,0.01%,2023,12,06
1804,2023-12-13,7.20%,8.09%,7.24%,7.04%,4.90%,4.65%,4.65%,3.17%,0.01%,0.01%,2023,12,13
1805,2023-12-20,7.20%,7.89%,7.24%,7.04%,4.65%,4.00%,4.30%,3.17%,0.01%,0.01%,2023,12,20
1806,2023-12-27,7.20%,7.89%,7.14%,7.04%,4.65%,4.00%,3.90%,3.17%,0.01%,0.01%,2023,12,27

In [103]:
fil_int_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 991 entries, 816 to 1806
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    991 non-null    object
 1   Prime rate              991 non-null    object
 2   1 Year Conventional     991 non-null    object
 3   3 Year Conventional     991 non-null    object
 4   5 Year Conventional     991 non-null    object
 5   1 Year Guaranteed       991 non-null    object
 6   3 Year Guaranteed       991 non-null    object
 7   5 Year Guaranteed       991 non-null    object
 8   5 Year Fixed            991 non-null    object
 9   Daily Interest Savings  991 non-null    object
 10  Non-Chequable Savings   991 non-null    object
 11  Year                    991 non-null    int64
 12  Month                   991 non-null    object
 13  Day                     991 non-null    object
dtypes: int64(1), object(13)
memory usage: 116.1+ KB

In [ ]:
#Determine Average Interest Rate based on selected years (2005-2023)

In [105]:
#Set new Index to merge with other CSV Files
fil_int_df.set_index("Year")

,Date,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings,Month,Day
Year,,,,,,,,,,,,,
2005,2005-01-05,4.25%,4.80%,5.60%,6.05%,1.43%,2.18%,2.78%,2.53%,0.75%,0.05%,01,05
2005,2005-01-12,4.25%,4.80%,5.60%,6.05%,1.43%,2.18%,2.98%,2.53%,0.75%,0.05%,01,12
2005,2005-01-19,4.25%,4.80%,5.60%,6.05%,1.43%,2.18%,2.98%,2.73%,0.75%,0.05%,01,19
2005,2005-01-26,4.25%,4.80%,5.60%,6.05%,1.43%,2.18%,2.88%,2.63%,0.75%,0.05%,01,26
2005,2005-02-02,4.25%,4.80%,5.60%,6.05%,1.43%,2.18%,2.88%,2.63%,0.75%,0.05%,02,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,2023-11-29,7.20%,8.09%,7.24%,7.04%,4.90%,4.02%,4.90%,3.40%,0.01%,0.01%,11,29
2023,2023-12-06,7.20%,8.09%,7.24%,7.04%,4.90%,4.02%,4.27%,3.17%,0.01%,0.01%,12,06
2023,2023-12-13,7.20%,8.09%,7.24%,7.04%,4.90%,4.65%,4.65%,3.17%,0.01%,0.01%,12,13
2023,2023-12-20,7.20%,7.89%,7.24%,7.04%,4.65%,4.00%,4.30%,3.17%,0.01%,0.01%,12,20
2023,2023-12-27,7.20%,7.89%,7.14%,7.04%,4.65%,4.00%,3.90%,3.17%,0.01%,0.01%,12,27