In [4]:
#Import Dependancies
import pandas as pd
from pathlib import Path

In [5]:
#Importing CSV files and reading the files
interest_rate_csv = Path("Resources/chartered_bank_interest.csv")

In [6]:
interest_rate_df = pd.read_csv(interest_rate_csv)

In [7]:
interest_rate_df

,date,V80691311,V80691333,V80691334,V80691335,V80691339,V80691340,V80691341,V80691336,V80691337,V80691338
0,1967-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
1,1967-04-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
2,1967-04-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
3,1967-04-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
4,1967-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50
...,...,...,...,...,...,...,...,...,...,...,...
2962,2024-01-10,7.2,7.84,7.14,7.04,4.65,4.00,3.90,3.17,0.01,0.01
2963,2024-01-17,7.2,7.84,7.05,6.89,4.65,3.92,4.15,3.17,0.01,0.01
2964,2024-01-24,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
2965,2024-01-31,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
2966,2024-02-07,7.2,7.84,6.99,6.79,4.60,3.92,3.95,3.45,0.01,0.01

In [8]:
#Remove NAN values
interest_rate_df = interest_rate_df.dropna()
interest_rate_df

,date,V80691311,V80691333,V80691334,V80691335,V80691339,V80691340,V80691341,V80691336,V80691337,V80691338
1154,1989-05-17,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.75,8.25
1155,1989-05-24,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.53,8.25
1156,1989-05-31,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.70,8.25
1157,1989-06-07,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.78,8.25
1158,1989-06-14,13.5,12.75,12.25,12.00,10.75,10.25,10.00,10.25,11.70,8.25
...,...,...,...,...,...,...,...,...,...,...,...
2962,2024-01-10,7.2,7.84,7.14,7.04,4.65,4.00,3.90,3.17,0.01,0.01
2963,2024-01-17,7.2,7.84,7.05,6.89,4.65,3.92,4.15,3.17,0.01,0.01
2964,2024-01-24,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
2965,2024-01-31,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
2966,2024-02-07,7.2,7.84,6.99,6.79,4.60,3.92,3.95,3.45,0.01,0.01

In [19]:
interest_rate_df = interest_rate_df.reset_index(drop=True)

In [20]:
#Rename Column Names
rename_interest_df = interest_rate_df.rename(columns={"date":"Date", "V80691311":"Prime rate", "V80691333":"1 Year Conventional", "V80691334":"3 Year Conventional", "V80691335":"5 Year Conventional", 
                                             "V80691339":"1 Year Guaranteed", "V80691340":"3 Year Guaranteed", "V80691341":"5 Year Guaranteed",
                                             "V80691336":"5 Year Fixed", "V80691337":"Daily Interest Savings", "V80691338":"Non-Chequable Savings"})
rename_interest_df

,Date,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings
0,1989-05-17,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.75,8.25
1,1989-05-24,13.5,13.00,12.50,12.00,11.00,10.50,10.25,10.25,11.53,8.25
2,1989-05-31,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.70,8.25
3,1989-06-07,13.5,13.00,12.25,12.00,11.00,10.50,10.25,10.25,11.78,8.25
4,1989-06-14,13.5,12.75,12.25,12.00,10.75,10.25,10.00,10.25,11.70,8.25
...,...,...,...,...,...,...,...,...,...,...,...
1808,2024-01-10,7.2,7.84,7.14,7.04,4.65,4.00,3.90,3.17,0.01,0.01
1809,2024-01-17,7.2,7.84,7.05,6.89,4.65,3.92,4.15,3.17,0.01,0.01
1810,2024-01-24,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
1811,2024-01-31,7.2,7.84,7.04,6.89,4.60,3.92,3.95,3.45,0.01,0.01
1812,2024-02-07,7.2,7.84,6.99,6.79,4.60,3.92,3.95,3.45,0.01,0.01

In [21]:
rename_interest_df.columns
rename_interest_df.dtypes

Date                       object
Prime rate                float64
1 Year Conventional       float64
3 Year Conventional       float64
5 Year Conventional       float64
1 Year Guaranteed         float64
3 Year Guaranteed         float64
5 Year Guaranteed         float64
5 Year Fixed              float64
Daily Interest Savings    float64
Non-Chequable Savings     float64
dtype: object

In [22]:
#Formatting Cells to Percent 
rename_interest_df[["Prime rate", "1 Year Conventional", "3 Year Conventional",
                    "5 Year Conventional", "1 Year Guaranteed", "3 Year Guaranteed",
                    "5 Year Guaranteed", "5 Year Fixed", "Daily Interest Savings",
                    "Non-Chequable Savings"]] = rename_interest_df[["Prime rate", "1 Year Conventional", "3 Year Conventional",
                                                                    "5 Year Conventional", "1 Year Guaranteed", "3 Year Guaranteed",
                                                                    "5 Year Guaranteed", "5 Year Fixed", "Daily Interest Savings",
                                                                    "Non-Chequable Savings"]].astype(float).map("{:.2f}%".format)

In [23]:
rename_interest_df

,Date,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings
0,1989-05-17,13.50%,13.00%,12.50%,12.00%,11.00%,10.50%,10.25%,10.25%,11.75%,8.25%
1,1989-05-24,13.50%,13.00%,12.50%,12.00%,11.00%,10.50%,10.25%,10.25%,11.53%,8.25%
2,1989-05-31,13.50%,13.00%,12.25%,12.00%,11.00%,10.50%,10.25%,10.25%,11.70%,8.25%
3,1989-06-07,13.50%,13.00%,12.25%,12.00%,11.00%,10.50%,10.25%,10.25%,11.78%,8.25%
4,1989-06-14,13.50%,12.75%,12.25%,12.00%,10.75%,10.25%,10.00%,10.25%,11.70%,8.25%
...,...,...,...,...,...,...,...,...,...,...,...
1808,2024-01-10,7.20%,7.84%,7.14%,7.04%,4.65%,4.00%,3.90%,3.17%,0.01%,0.01%
1809,2024-01-17,7.20%,7.84%,7.05%,6.89%,4.65%,3.92%,4.15%,3.17%,0.01%,0.01%
1810,2024-01-24,7.20%,7.84%,7.04%,6.89%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%
1811,2024-01-31,7.20%,7.84%,7.04%,6.89%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%
1812,2024-02-07,7.20%,7.84%,6.99%,6.79%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%

In [24]:
rename_interest_df.dtypes

Date                      object
Prime rate                object
1 Year Conventional       object
3 Year Conventional       object
5 Year Conventional       object
1 Year Guaranteed         object
3 Year Guaranteed         object
5 Year Guaranteed         object
5 Year Fixed              object
Daily Interest Savings    object
Non-Chequable Savings     object
dtype: object

In [25]:
#Format Date to match the rest of the CSV Files
# concat_df[["Month","Year"]]= concat_df["Date"].str.split(" ",expand=True)
# concat_df.head()

rename_interest_df[["Year", "Month", "Day"]] = rename_interest_df["Date"].str.split("-", expand = True)
rename_interest_df

,Date,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings,Year,Month,Day
0,1989-05-17,13.50%,13.00%,12.50%,12.00%,11.00%,10.50%,10.25%,10.25%,11.75%,8.25%,1989,05,17
1,1989-05-24,13.50%,13.00%,12.50%,12.00%,11.00%,10.50%,10.25%,10.25%,11.53%,8.25%,1989,05,24
2,1989-05-31,13.50%,13.00%,12.25%,12.00%,11.00%,10.50%,10.25%,10.25%,11.70%,8.25%,1989,05,31
3,1989-06-07,13.50%,13.00%,12.25%,12.00%,11.00%,10.50%,10.25%,10.25%,11.78%,8.25%,1989,06,07
4,1989-06-14,13.50%,12.75%,12.25%,12.00%,10.75%,10.25%,10.00%,10.25%,11.70%,8.25%,1989,06,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1808,2024-01-10,7.20%,7.84%,7.14%,7.04%,4.65%,4.00%,3.90%,3.17%,0.01%,0.01%,2024,01,10
1809,2024-01-17,7.20%,7.84%,7.05%,6.89%,4.65%,3.92%,4.15%,3.17%,0.01%,0.01%,2024,01,17
1810,2024-01-24,7.20%,7.84%,7.04%,6.89%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%,2024,01,24
1811,2024-01-31,7.20%,7.84%,7.04%,6.89%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%,2024,01,31
1812,2024-02-07,7.20%,7.84%,6.99%,6.79%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%,2024,02,07

In [27]:
rename_interest_df.columns

Index(['Date', 'Prime rate', '1 Year Conventional', '3 Year Conventional',
       '5 Year Conventional', '1 Year Guaranteed', '3 Year Guaranteed',
       '5 Year Guaranteed', '5 Year Fixed', 'Daily Interest Savings',
       'Non-Chequable Savings', 'Year', 'Month', 'Day'],
      dtype='object')

In [28]:
rename_interest_df = rename_interest_df["Year"].astype(int)

In [34]:
#Sort by certain years to match the years in other CSV Files (2005-2023)
df = rename_interest_df[rename_interest_df["Prime rate"] == 13.5]
df

KeyError: 'Prime rate'

In [ ]:
#Group by Year
fil_int_df = rename_interest_df.groupby(["Year"])

In [ ]:
fil_int_df

In [ ]:
fil_int_df.head()

,Date,Prime rate,1 Year Conventional,3 Year Conventional,5 Year Conventional,1 Year Guaranteed,3 Year Guaranteed,5 Year Guaranteed,5 Year Fixed,Daily Interest Savings,Non-Chequable Savings,Year,Month,Day
1154,1989-05-17,13.50%,13.00%,12.50%,12.00%,11.00%,10.50%,10.25%,10.25%,11.75%,8.25%,1989,05,17
1155,1989-05-24,13.50%,13.00%,12.50%,12.00%,11.00%,10.50%,10.25%,10.25%,11.53%,8.25%,1989,05,24
1156,1989-05-31,13.50%,13.00%,12.25%,12.00%,11.00%,10.50%,10.25%,10.25%,11.70%,8.25%,1989,05,31
1157,1989-06-07,13.50%,13.00%,12.25%,12.00%,11.00%,10.50%,10.25%,10.25%,11.78%,8.25%,1989,06,07
1158,1989-06-14,13.50%,12.75%,12.25%,12.00%,10.75%,10.25%,10.00%,10.25%,11.70%,8.25%,1989,06,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2961,2024-01-03,7.20%,7.89%,7.14%,7.04%,4.65%,4.40%,3.90%,3.17%,0.01%,0.01%,2024,01,03
2962,2024-01-10,7.20%,7.84%,7.14%,7.04%,4.65%,4.00%,3.90%,3.17%,0.01%,0.01%,2024,01,10
2963,2024-01-17,7.20%,7.84%,7.05%,6.89%,4.65%,3.92%,4.15%,3.17%,0.01%,0.01%,2024,01,17
2964,2024-01-24,7.20%,7.84%,7.04%,6.89%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%,2024,01,24
2965,2024-01-31,7.20%,7.84%,7.04%,6.89%,4.60%,3.92%,3.95%,3.45%,0.01%,0.01%,2024,01,31

In [ ]:
#Determine Average Interest Rate based on selected years (2005-2023)