In [8]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [9]:
ontario_csv= Path("Resources/ONTARIO.csv")
saskatoon_csv= Path("Resources/SASKATOON.csv")
ontario_df= pd.read_csv(ontario_csv)
saskatoon_df= pd.read_csv(saskatoon_csv)
ontario_df

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
0,Jan 2005,100.0,100.0,100.0,100.0,100.0,100.0,265700.0,287300.0,236200.0,312700.0,190400.0,184000.0
1,Feb 2005,100.2,100.2,100.2,100.2,100.0,100.3,266300.0,287900.0,236600.0,313300.0,190400.0,184600.0
2,Mar 2005,100.6,100.6,100.3,100.6,100.3,101.0,267300.0,289100.0,236800.0,314700.0,190900.0,185900.0
3,Apr 2005,100.9,100.9,100.7,100.9,100.4,101.2,268000.0,290000.0,237900.0,315500.0,191200.0,186200.0
4,May 2005,101.3,101.3,100.9,101.3,100.7,102.1,269100.0,291000.0,238300.0,316800.0,191700.0,187800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
ontario_df.dropna()
saskatoon_df.dropna()

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
0,Jan 2005,100.0,100.0,100.0,100.0,100.0,100.0,130200.0,136100.0,119900.0,174200.0,113400.0,86000.0
1,Feb 2005,100.8,101.0,102.3,99.6,100.6,100.1,131200.0,137500.0,122600.0,173500.0,114100.0,86100.0
2,Mar 2005,100.0,100.2,102.0,98.7,101.2,100.2,130200.0,136400.0,122300.0,172000.0,114800.0,86200.0
3,Apr 2005,101.2,101.6,103.7,98.7,101.9,100.3,131800.0,138300.0,124300.0,172000.0,115500.0,86300.0
4,May 2005,102.6,103.2,105.1,100.7,102.4,100.6,133600.0,140500.0,126000.0,175500.0,116100.0,86500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Aug 2023,289.7,313.0,307.0,284.1,271.5,254.7,377200.0,426000.0,368100.0,494900.0,307900.0,219000.0
224,Sep 2023,293.9,318.4,311.3,290.0,274.3,256.4,382600.0,433400.0,373200.0,505100.0,311100.0,220500.0
225,Oct 2023,295.9,320.6,312.4,292.8,277.2,259.7,385200.0,436300.0,374600.0,510000.0,314300.0,223300.0
226,Nov 2023,296.5,320.8,314.9,290.9,276.7,267.7,386000.0,436600.0,377600.0,506700.0,313800.0,230200.0
227,Dec 2023,294.1,317.9,311.2,291.7,277.2,262.3,382900.0,432600.0,373100.0,508100.0,314300.0,225600.0

In [11]:
# ontario_df = ontario_df[["Composite_HPI_SA" , "Date"]]
ontario_df = ontario_df.dropna()
ontario_df

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
0,Jan 2005,100.0,100.0,100.0,100.0,100.0,100.0,265700.0,287300.0,236200.0,312700.0,190400.0,184000.0
1,Feb 2005,100.2,100.2,100.2,100.2,100.0,100.3,266300.0,287900.0,236600.0,313300.0,190400.0,184600.0
2,Mar 2005,100.6,100.6,100.3,100.6,100.3,101.0,267300.0,289100.0,236800.0,314700.0,190900.0,185900.0
3,Apr 2005,100.9,100.9,100.7,100.9,100.4,101.2,268000.0,290000.0,237900.0,315500.0,191200.0,186200.0
4,May 2005,101.3,101.3,100.9,101.3,100.7,102.1,269100.0,291000.0,238300.0,316800.0,191700.0,187800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Aug 2023,345.6,350.3,341.2,355.6,383.8,353.2,918300.0,1006500.0,805800.0,1112100.0,730700.0,649900.0
224,Sep 2023,342.7,346.6,339.7,351.4,383.6,353.5,910500.0,995700.0,802400.0,1098800.0,730300.0,650500.0
225,Oct 2023,337.9,341.5,334.4,346.5,379.3,349.5,897900.0,981100.0,789900.0,1083500.0,722100.0,643000.0
226,Nov 2023,332.7,335.9,329.1,340.7,372.5,346.8,884000.0,964900.0,777300.0,1065400.0,709300.0,638200.0
227,Dec 2023,329.0,331.7,323.4,338.0,369.2,344.2,874100.0,953000.0,763900.0,1056800.0,702900.0,633400.0

In [12]:
# ontario_df = ontario_df.groupby("Date").mean()
# saskatoon_df= saskatoon_df.groupby("Date").mean()
# saskatoon_df

In [13]:
value = "Saskatoon"
saskatoon_df["Provience"] = value
saskatoon_df

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA,Provience
0,Jan 2005,100.0,100.0,100.0,100.0,100.0,100.0,130200.0,136100.0,119900.0,174200.0,113400.0,86000.0,Saskatoon
1,Feb 2005,100.8,101.0,102.3,99.6,100.6,100.1,131200.0,137500.0,122600.0,173500.0,114100.0,86100.0,Saskatoon
2,Mar 2005,100.0,100.2,102.0,98.7,101.2,100.2,130200.0,136400.0,122300.0,172000.0,114800.0,86200.0,Saskatoon
3,Apr 2005,101.2,101.6,103.7,98.7,101.9,100.3,131800.0,138300.0,124300.0,172000.0,115500.0,86300.0,Saskatoon
4,May 2005,102.6,103.2,105.1,100.7,102.4,100.6,133600.0,140500.0,126000.0,175500.0,116100.0,86500.0,Saskatoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saskatoon
495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saskatoon
496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saskatoon
497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saskatoon
498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saskatoon

In [14]:
value_a = "Ontario"
ontario_df["Provience"] = value_a
ontario_df

C:\Users\jasle\AppData\Local\Temp\ipykernel_31808\2673663469.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ontario_df["Provience"] = value_a

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA,Provience
0,Jan 2005,100.0,100.0,100.0,100.0,100.0,100.0,265700.0,287300.0,236200.0,312700.0,190400.0,184000.0,Ontario
1,Feb 2005,100.2,100.2,100.2,100.2,100.0,100.3,266300.0,287900.0,236600.0,313300.0,190400.0,184600.0,Ontario
2,Mar 2005,100.6,100.6,100.3,100.6,100.3,101.0,267300.0,289100.0,236800.0,314700.0,190900.0,185900.0,Ontario
3,Apr 2005,100.9,100.9,100.7,100.9,100.4,101.2,268000.0,290000.0,237900.0,315500.0,191200.0,186200.0,Ontario
4,May 2005,101.3,101.3,100.9,101.3,100.7,102.1,269100.0,291000.0,238300.0,316800.0,191700.0,187800.0,Ontario
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Aug 2023,345.6,350.3,341.2,355.6,383.8,353.2,918300.0,1006500.0,805800.0,1112100.0,730700.0,649900.0,Ontario
224,Sep 2023,342.7,346.6,339.7,351.4,383.6,353.5,910500.0,995700.0,802400.0,1098800.0,730300.0,650500.0,Ontario
225,Oct 2023,337.9,341.5,334.4,346.5,379.3,349.5,897900.0,981100.0,789900.0,1083500.0,722100.0,643000.0,Ontario
226,Nov 2023,332.7,335.9,329.1,340.7,372.5,346.8,884000.0,964900.0,777300.0,1065400.0,709300.0,638200.0,Ontario
227,Dec 2023,329.0,331.7,323.4,338.0,369.2,344.2,874100.0,953000.0,763900.0,1056800.0,702900.0,633400.0,Ontario

In [15]:
ontario_df.set_index("Provience", inplace=True)
ontario_df

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
Provience,,,,,,,,,,,,,
Ontario,Jan 2005,100.0,100.0,100.0,100.0,100.0,100.0,265700.0,287300.0,236200.0,312700.0,190400.0,184000.0
Ontario,Feb 2005,100.2,100.2,100.2,100.2,100.0,100.3,266300.0,287900.0,236600.0,313300.0,190400.0,184600.0
Ontario,Mar 2005,100.6,100.6,100.3,100.6,100.3,101.0,267300.0,289100.0,236800.0,314700.0,190900.0,185900.0
Ontario,Apr 2005,100.9,100.9,100.7,100.9,100.4,101.2,268000.0,290000.0,237900.0,315500.0,191200.0,186200.0
Ontario,May 2005,101.3,101.3,100.9,101.3,100.7,102.1,269100.0,291000.0,238300.0,316800.0,191700.0,187800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ontario,Aug 2023,345.6,350.3,341.2,355.6,383.8,353.2,918300.0,1006500.0,805800.0,1112100.0,730700.0,649900.0
Ontario,Sep 2023,342.7,346.6,339.7,351.4,383.6,353.5,910500.0,995700.0,802400.0,1098800.0,730300.0,650500.0
Ontario,Oct 2023,337.9,341.5,334.4,346.5,379.3,349.5,897900.0,981100.0,789900.0,1083500.0,722100.0,643000.0
Ontario,Nov 2023,332.7,335.9,329.1,340.7,372.5,346.8,884000.0,964900.0,777300.0,1065400.0,709300.0,638200.0
Ontario,Dec 2023,329.0,331.7,323.4,338.0,369.2,344.2,874100.0,953000.0,763900.0,1056800.0,702900.0,633400.0

In [16]:
saskatoon_df.set_index("Provience", inplace=True)
saskatoon_df=saskatoon_df.dropna()
saskatoon_df

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
Provience,,,,,,,,,,,,,
Saskatoon,Jan 2005,100.0,100.0,100.0,100.0,100.0,100.0,130200.0,136100.0,119900.0,174200.0,113400.0,86000.0
Saskatoon,Feb 2005,100.8,101.0,102.3,99.6,100.6,100.1,131200.0,137500.0,122600.0,173500.0,114100.0,86100.0
Saskatoon,Mar 2005,100.0,100.2,102.0,98.7,101.2,100.2,130200.0,136400.0,122300.0,172000.0,114800.0,86200.0
Saskatoon,Apr 2005,101.2,101.6,103.7,98.7,101.9,100.3,131800.0,138300.0,124300.0,172000.0,115500.0,86300.0
Saskatoon,May 2005,102.6,103.2,105.1,100.7,102.4,100.6,133600.0,140500.0,126000.0,175500.0,116100.0,86500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Saskatoon,Aug 2023,289.7,313.0,307.0,284.1,271.5,254.7,377200.0,426000.0,368100.0,494900.0,307900.0,219000.0
Saskatoon,Sep 2023,293.9,318.4,311.3,290.0,274.3,256.4,382600.0,433400.0,373200.0,505100.0,311100.0,220500.0
Saskatoon,Oct 2023,295.9,320.6,312.4,292.8,277.2,259.7,385200.0,436300.0,374600.0,510000.0,314300.0,223300.0
Saskatoon,Nov 2023,296.5,320.8,314.9,290.9,276.7,267.7,386000.0,436600.0,377600.0,506700.0,313800.0,230200.0
Saskatoon,Dec 2023,294.1,317.9,311.2,291.7,277.2,262.3,382900.0,432600.0,373100.0,508100.0,314300.0,225600.0

In [31]:
concat_df= pd.concat([ontario_df,saskatoon_df],axis=0)
concat_df

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
Provience,,,,,,,,,,,,,
Ontario,Jan 2005,100.0,100.0,100.0,100.0,100.0,100.0,265700.0,287300.0,236200.0,312700.0,190400.0,184000.0
Ontario,Feb 2005,100.2,100.2,100.2,100.2,100.0,100.3,266300.0,287900.0,236600.0,313300.0,190400.0,184600.0
Ontario,Mar 2005,100.6,100.6,100.3,100.6,100.3,101.0,267300.0,289100.0,236800.0,314700.0,190900.0,185900.0
Ontario,Apr 2005,100.9,100.9,100.7,100.9,100.4,101.2,268000.0,290000.0,237900.0,315500.0,191200.0,186200.0
Ontario,May 2005,101.3,101.3,100.9,101.3,100.7,102.1,269100.0,291000.0,238300.0,316800.0,191700.0,187800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Saskatoon,Aug 2023,289.7,313.0,307.0,284.1,271.5,254.7,377200.0,426000.0,368100.0,494900.0,307900.0,219000.0
Saskatoon,Sep 2023,293.9,318.4,311.3,290.0,274.3,256.4,382600.0,433400.0,373200.0,505100.0,311100.0,220500.0
Saskatoon,Oct 2023,295.9,320.6,312.4,292.8,277.2,259.7,385200.0,436300.0,374600.0,510000.0,314300.0,223300.0
Saskatoon,Nov 2023,296.5,320.8,314.9,290.9,276.7,267.7,386000.0,436600.0,377600.0,506700.0,313800.0,230200.0
Saskatoon,Dec 2023,294.1,317.9,311.2,291.7,277.2,262.3,382900.0,432600.0,373100.0,508100.0,314300.0,225600.0

In [30]:
concat_df.columns
concat_df.dtypes

Date                           object
Composite_HPI_SA               object
Single_Family_HPI_SA           object
One_Storey_HPI_SA             float64
Two_Storey_HPI_SA             float64
Townhouse_HPI_SA              float64
Apartment_HPI_SA              float64
Composite_Benchmark_SA        float64
Single_Family_Benchmark_SA    float64
One_Storey_Benchmark_SA       float64
Two_Storey_Benchmark_SA       float64
Townhouse_Benchmark_SA        float64
Apartment_Benchmark_SA        float64
dtype: object

In [32]:
# # data formatting
# Index(['Date', 'Composite_HPI_SA', 'Single_Family_HPI_SA', 'One_Storey_HPI_SA',
#        'Two_Storey_HPI_SA', 'Townhouse_HPI_SA', 'Apartment_HPI_SA',
#        'Composite_Benchmark_SA', 'Single_Family_Benchmark_SA',
#        'One_Storey_Benchmark_SA', 'Two_Storey_Benchmark_SA',
#        'Townhouse_Benchmark_SA', 'Apartment_Benchmark_SA'],
#       dtype='object')

concat_df["Single_Family_HPI_SA"] = concat_df["Single_Family_HPI_SA"].astype(float).map("${:,.2f}".format)
concat_df

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
Provience,,,,,,,,,,,,,
Ontario,Jan 2005,100.0,$100.00,100.0,100.0,100.0,100.0,265700.0,287300.0,236200.0,312700.0,190400.0,184000.0
Ontario,Feb 2005,100.2,$100.20,100.2,100.2,100.0,100.3,266300.0,287900.0,236600.0,313300.0,190400.0,184600.0
Ontario,Mar 2005,100.6,$100.60,100.3,100.6,100.3,101.0,267300.0,289100.0,236800.0,314700.0,190900.0,185900.0
Ontario,Apr 2005,100.9,$100.90,100.7,100.9,100.4,101.2,268000.0,290000.0,237900.0,315500.0,191200.0,186200.0
Ontario,May 2005,101.3,$101.30,100.9,101.3,100.7,102.1,269100.0,291000.0,238300.0,316800.0,191700.0,187800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Saskatoon,Aug 2023,289.7,$313.00,307.0,284.1,271.5,254.7,377200.0,426000.0,368100.0,494900.0,307900.0,219000.0
Saskatoon,Sep 2023,293.9,$318.40,311.3,290.0,274.3,256.4,382600.0,433400.0,373200.0,505100.0,311100.0,220500.0
Saskatoon,Oct 2023,295.9,$320.60,312.4,292.8,277.2,259.7,385200.0,436300.0,374600.0,510000.0,314300.0,223300.0
Saskatoon,Nov 2023,296.5,$320.80,314.9,290.9,276.7,267.7,386000.0,436600.0,377600.0,506700.0,313800.0,230200.0
Saskatoon,Dec 2023,294.1,$317.90,311.2,291.7,277.2,262.3,382900.0,432600.0,373100.0,508100.0,314300.0,225600.0