In [2]:
#Import Dependancies
import pandas as pd
from pathlib import Path

In [3]:
#Read CSV Files

aggregrate_csv = Path("Resources/AGGREGATE.csv")
aggregrate_df = pd.read_csv(aggregrate_csv)

bancroft_csv = Path("Resources/BANCROFT_AND_AREA.csv")
bancroft_df = pd.read_csv(bancroft_csv)

barrie_csv = Path("Resources/BARRIE_AND_DISTRICT.csv")
barrie_df = pd.read_csv(barrie_csv)

calgary_csv = Path("Resources/CALGARY.csv")
calgary_df = pd.read_csv(calgary_csv)

cambridge_csv = Path("Resources/CAMBRIDGE.csv")
cambridge_df = pd.read_csv(cambridge_csv)

chilliwack_csv = Path("Resources/CHILLIWACK_AND_DISTRICT.csv")
chilliwack_df = pd.read_csv(chilliwack_csv)

edmonton_csv = Path("Resources/EDMONTON.csv")
edmonton_df = pd.read_csv(edmonton_csv)

greater_vancouver_csv = Path("Resources/GREATER_VANCOUVER.csv")
greater_vancouver_df = pd.read_csv(greater_vancouver_csv)

grey_bruce_owen_sound_csv = Path("Resources/GREY_BRUCE_OWEN_SOUND.csv")
grey_bruce_owen_sound_df = pd.read_csv(grey_bruce_owen_sound_csv)

guelph_csv = Path("Resources/GUELPH_AND_DISTRICT.csv")
guelph_df = pd.read_csv(guelph_csv)

hamilton_csv = Path("Resources/HAMILTON_BURLINGTON.csv")
hamilton_df = pd.read_csv(hamilton_csv)

interior_bc_csv = Path("Resources/INTERIOR_BC.csv")
interior_bc_df = pd.read_csv(interior_bc_csv)

lower_mainland_csv = Path("Resources/LOWER_MAINLAND.csv")
lower_mainland_df = pd.read_csv(lower_mainland_csv)

newfoundland_csv = Path("Resources/NEWFOUNDLAND_AND_LABRADOR.csv")
newfoundland_df = pd.read_csv(newfoundland_csv)

ontario_csv = Path("Resources/ONTARIO.csv")
ontario_df = pd.read_csv(ontario_csv)

saskatchewan_csv = Path("Resources/SASKATCHEWAN.csv")
saskatchewan_df = pd.read_csv(saskatchewan_csv)

saskatoon_csv = Path("Resources/SASKATOON.csv")
saskatoon_df = pd.read_csv(saskatoon_csv)

vancouver_island_csv = Path("Resources/VANCOUVER_ISLAND.csv")
vancouver_island_df = pd.read_csv(vancouver_island_csv)

victoria_csv = Path("Resources/VICTORIA.csv")
victoria_df = pd.read_csv(victoria_csv)

winnipeg_csv = Path("Resources/WINNIPEG.csv")
winnipeg_df = pd.read_csv(winnipeg_csv)

In [4]:
# Drop NAN values

aggregrate_df = aggregrate_df.dropna()
bancroft_df = bancroft_df.dropna()
barrie_df = barrie_df.dropna()
calgary_df = calgary_df.dropna()
cambridge_df = cambridge_df.dropna()
chiiliwach_df = chilliwack_df.dropna()
edmonton_df = edmonton_df.dropna()
greater_vancouver_df = greater_vancouver_df.dropna()
grey_bruce_owen_sound_df = grey_bruce_owen_sound_df.dropna()
guelph_df = guelph_df.dropna()
hamilton_df = hamilton_df.dropna()
interior_bc_df = interior_bc_df.dropna()
lower_mainland_df = lower_mainland_df.dropna()
newfoundland_df = newfoundland_df.dropna()
ontario_df = ontario_df.dropna()
saskatchewan_df = saskatchewan_df.dropna()
saskatoon_df = saskatoon_df.dropna()
vancouver_island_df = vancouver_island_df.dropna()
victoria_df = victoria_df.dropna()
winnipeg_df = winnipeg_df.dropna()

In [14]:
#Formatting Cells

concat_df= pd.concat([ontario_df,saskatoon_df],axis=0)
concat_df

concat_df.columns
concat_df.dtypes  

# # data formatting
# Index(['Date', 'Composite_HPI_SA', 'Single_Family_HPI_SA', 'One_Storey_HPI_SA','Two_Storey_HPI_SA', 'Townhouse_HPI_SA', 'Apartment_HPI_SA','Composite_Benchmark_SA', 'Single_Family_Benchmark_SA','One_Storey_Benchmark_SA', 'Two_Storey_Benchmark_SA', 'Townhouse_Benchmark_SA', 'Apartment_Benchmark_SA'],
#       dtype='object')

concat_df[['Composite_HPI_SA', 'Single_Family_HPI_SA',
            'One_Storey_HPI_SA','Two_Storey_HPI_SA', 
            'Townhouse_HPI_SA', 'Apartment_HPI_SA','Composite_Benchmark_SA', 
            'Single_Family_Benchmark_SA','One_Storey_Benchmark_SA', 
            'Two_Storey_Benchmark_SA', 'Townhouse_Benchmark_SA', 
            'Apartment_Benchmark_SA']] = concat_df[['Composite_HPI_SA', 'Single_Family_HPI_SA', 
                                                    'One_Storey_HPI_SA','Two_Storey_HPI_SA',
                                                      'Townhouse_HPI_SA', 'Apartment_HPI_SA','Composite_Benchmark_SA', 
                                                      'Single_Family_Benchmark_SA','One_Storey_Benchmark_SA',
                                                        'Two_Storey_Benchmark_SA', 'Townhouse_Benchmark_SA', 
                                                        'Apartment_Benchmark_SA']].astype(float).map("${:,.2f}".format)

concat_df

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
0,Jan 2005,$100.00,$100.00,$100.00,$100.00,$100.00,$100.00,"$265,700.00","$287,300.00","$236,200.00","$312,700.00","$190,400.00","$184,000.00"
1,Feb 2005,$100.20,$100.20,$100.20,$100.20,$100.00,$100.30,"$266,300.00","$287,900.00","$236,600.00","$313,300.00","$190,400.00","$184,600.00"
2,Mar 2005,$100.60,$100.60,$100.30,$100.60,$100.30,$101.00,"$267,300.00","$289,100.00","$236,800.00","$314,700.00","$190,900.00","$185,900.00"
3,Apr 2005,$100.90,$100.90,$100.70,$100.90,$100.40,$101.20,"$268,000.00","$290,000.00","$237,900.00","$315,500.00","$191,200.00","$186,200.00"
4,May 2005,$101.30,$101.30,$100.90,$101.30,$100.70,$102.10,"$269,100.00","$291,000.00","$238,300.00","$316,800.00","$191,700.00","$187,800.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Aug 2023,$289.70,$313.00,$307.00,$284.10,$271.50,$254.70,"$377,200.00","$426,000.00","$368,100.00","$494,900.00","$307,900.00","$219,000.00"
224,Sep 2023,$293.90,$318.40,$311.30,$290.00,$274.30,$256.40,"$382,600.00","$433,400.00","$373,200.00","$505,100.00","$311,100.00","$220,500.00"
225,Oct 2023,$295.90,$320.60,$312.40,$292.80,$277.20,$259.70,"$385,200.00","$436,300.00","$374,600.00","$510,000.00","$314,300.00","$223,300.00"
226,Nov 2023,$296.50,$320.80,$314.90,$290.90,$276.70,$267.70,"$386,000.00","$436,600.00","$377,600.00","$506,700.00","$313,800.00","$230,200.00"
227,Dec 2023,$294.10,$317.90,$311.20,$291.70,$277.20,$262.30,"$382,900.00","$432,600.00","$373,100.00","$508,100.00","$314,300.00","$225,600.00"

In [20]:
#Merging Dataframes
data_df = pd.concat([bancroft_df, barrie_df, cambridge_df, grey_bruce_owen_sound_df, guelph_df, hamilton_df, ontario_df, calgary_df,
                     edmonton_df, chilliwack_df, greater_vancouver_df, interior_bc_df, lower_mainland_df, vancouver_island_df, 
                     victoria_df, newfoundland_df, saskatchewan_df, saskatoon_df, winnipeg_df], axis=0)

In [21]:
data_df

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
0,Jan 2005,100.0,100.0,100.0,100.0,132400.0,132400.0,129700.0,141000.0,NaN,NaN,NaN,NaN
1,Feb 2005,100.2,100.2,99.4,101.8,132600.0,132600.0,128900.0,143600.0,NaN,NaN,NaN,NaN
2,Mar 2005,100.2,100.2,98.8,102.9,132600.0,132600.0,128100.0,145100.0,NaN,NaN,NaN,NaN
3,Apr 2005,100.4,100.4,98.3,104.5,132900.0,132900.0,127500.0,147400.0,NaN,NaN,NaN,NaN
4,May 2005,100.6,100.6,97.8,106.6,133200.0,133200.0,126900.0,150300.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Aug 2023,285.3,296.3,286.1,313.9,345200.0,363000.0,335600.0,405500.0,259.2,211.0,296800.0,223500.0
224,Sep 2023,285.7,296.4,285.3,315.2,345700.0,363100.0,334600.0,407300.0,261.3,214.4,299200.0,227000.0
225,Oct 2023,285.1,295.0,285.1,313.5,345000.0,361400.0,334400.0,405100.0,267.7,216.6,306500.0,229400.0
226,Nov 2023,282.4,292.5,283.1,308.4,341700.0,358300.0,332100.0,398400.0,266.0,214.1,304600.0,226700.0
227,Dec 2023,283.4,292.8,281.6,312.0,342900.0,358700.0,330300.0,403100.0,273.2,217.5,312800.0,230300.0